@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    .nav {
        @apply h-2 w-2 rounded-[50%] bg-white opacity-75;
    }
} */

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .nav {
        font: inherit;
        color: #fff;
        width: 1rem;
        height: 1rem;
        border: 0.15em solid #fff;
        border-radius: 50%;
        display: grid;
        place-content: center;
    }
}
