@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    .nav {
        @apply h-2 w-2 rounded-[50%] bg-white opacity-75;
    }
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@layer utilities {
    * {
        font-family: Poppins;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .nav {
        font: inherit;
        color: #fff;
        width: 1rem;
        height: 1rem;
        border: 0.15em solid #fff;
        border-radius: 50%;
        display: grid;
        place-content: center;
    }
}
